@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --clr-white: #fff;
  --clr-black: #222;
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-primary-5: hsl(205, 78%, 60%);
  --transition: all 0.3s linear;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-white);
  padding: 1.5rem 0;
}
nav h1 {
  color: var(--clr-primary-5);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 2.5rem);
}
.container {
  text-align: center;
  margin: 5rem 0;
}
.container h2 {
  background-color: var(--clr-black);
  color: var(--clr-white);
  padding: 0.8rem 5rem;
}
#btn {
  margin-top: 4rem;
  padding: 0.4rem 0.8rem;
  background-color: transparent;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: var(--transition);
}
#btn:hover {
  background-color: var(--clr-black);
  color: var(--clr-white);
}
